body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 30px;
}
h2{
    color:white;
}

.container {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.form-box {
    background: linear-gradient(to right, #0099f7, #f11712);
    color: white;
    padding: 20px;
    border-radius: 18px;
    width: 280px;
    text-align: left;
}

.form-box h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2e8bfa;
}

/* ID Card */
.id-card {
    background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
    width: 260px;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.header {
    background: #4facfe;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 10px;
}



.school {
    margin-top: 10px;
    font-weight: bold;
    color: #4facfe;
}
